<launch>

<param name="lidar_type" type="string" value="C16-700B" />

<node pkg="liso" type="liso_node" name="liso_node" output="screen" />

<arg name="rviz" default="true" />
<group if="$(arg rviz)">
<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find liso)/rviz/rviz1.rviz" />
</group>

</launch>